/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 1.5;
  color: #242424;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

h1 {
  font-size: 52px;
  margin-top: 0;
}

h2 {
  font-size: 36px;
  color: #3e606b;
}

h3 {
  font-size: 18px;
  color: #3e606b;
}

header {
  width: 100%;
  max-width: 1100px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 170px;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: #242424;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
}

.navigation a:hover {
  color: #ffffff;
  background-color: #d2567d;
  border-radius: 20px;
}

section {
  padding: 80px 0;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.hero {
  background-image: url(images/cupcake.jpg);
  background-size: cover;
  color: #ffffff;
}

.hero__text {
  max-width: 1100px;
}

.hero__text h1 {
  padding-right: 40%;
}

.hero__text p {
  padding-right: 40%;
  font-size: 24px;
  font-style: italic;
}

.welcome,
.about-baking {
  max-width: 1100px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.welcome__right,
.welcome__left {
  flex-basis: calc(100% / 2);
  max-width: calc(1100px / 2);
}

.welcome__right {
  padding-left: 30px;
}

.welcome__button {
  color: #ffffff;
  background-color: #f195b2;
  display: inline-block;
  border-radius: 30px;
  padding: 15px 40px;
  text-decoration: none;
  cursor: pointer;
}

.welcome__button:hover {
  background-color: #d2567d;
}

.today-offer {
  background-color: #f0f0f0;
}

.today-offer__text {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.today-offer__items {
  display: flex;
  width: 100%;
}

.item img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.item {
  flex-basis: calc((100%-90px) / 4);
  max-width: calc(1010px / 4);
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
}

.item:last-of-type {
  margin-right: 0;
}

.item h3 {
  padding: 20px;
  margin: 0;
}

.item p {
  padding: 0 20px 20px 20px;
  margin: 0;
}

.about-baking {
  display: flex;
  align-items: center;
}

.about-baking__right,
.about-baking__left {
  flex-basis: calc(100% / 2);
  max-width: calc(1100px / 2);
}

.about-baking__left {
  padding-right: 30px;
}

.foto-baker,
.foto-baking {
  width: 100%;
  border-radius: 5px;
}

footer {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  background-color: #303339;
  color: #ffffff;
}
